version: '3.8'

services:
  node-app:
    build: .
    container_name: node-app
    restart: always
    env_file:
      - nodejs/.env
    ports:
      - "3000:3000"
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - node-app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

